# Node
node_modules/
dist/
build/

# Environment
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Java
target/
*.class

# IntelliJ
*.iml

# Maven Wrapper Logs
.mvn/wrapper/maven-wrapper.jar

# OS
Thumbs.db